
.back{
    background-color: black;
}
h2{
    color: #7fffd4;
    font-size: larger;
    font-family: 'Bruno Ace', cursive; 
}
.text1{
    color: violet;
    margin-top: 20px;
    font-size: 50px;
    font-family: 'Bruno Ace', cursive;
}

.text2{
    color: antiquewhite;
    font-family: 'Bruno Ace', cursive;
}

.text3{
    color: aquamarine;
    margin-left: 150px;
    font-size: small;
    font-family: 'Bruno Ace', cursive;
}

#content2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
/* .content2div1{
    height: 800px;
}

.content2div2{
    height: 800px;
    gap: 50px;
} */

.data{
    color: whitesmoke;
    font-size: 20px;
    font-family: 'Bruno Ace', cursive;
    padding-top: 50px;
}
